{% extends 'app/base.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-md-12">    
    {% if historical_messages %}
    <div class="card">
      <div class="card-header ">
        <h6 class="card-title pull-right"><i class="fa fa-clock-o text-muted"></i> <small class="text-muted"></small><small class="text-muted"> {{ historical_messages.last.created_date|date:"Y-m-d" }} ({% trans "Historical messages" %})</small></h6>
      </div>
      <div class="card-body">
         <table class="table width-0">
          <tbody>
            {% for message in historical_messages%}
              <tr>
                <td class="img-row">
                <div class="img-wrapper">
                  {% if message.author %}
                    <img src="{{ MEDIA_URL|add:message.author.avatar.url }}" class="img-raised">
                  {% else %}
                    <img src="{% static 'avatars/basic_dice.png' %}" class="img-raised">
                  {% endif %}
                </div>
              </td>
              {% if message.author %}
                <td><a class="{% if message.author.id|slugify == character_id %}text-primary{% else %}text-danger{% endif %}" href="{% url 'team_members' pk=message.author.id %}">{{message.author.name}}:</a></td>
              {% else %}
                <td><div class="text-muted">{% trans "Dice" %}:</div></td>
              {% endif %}
              <td>{{message.text}}</td>
              </tr>
          {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>

    {% endif %}

    <div class="card">
      <div class="card-header ">
        <h6 class="card-title pull-right"><i class="fa fa-clock-o text-muted"></i> <small class="text-muted"></small><small class="text-muted"> {{ current_date }}</small></h6>
      </div>
      <div class="card-body">
         <table id="log" class="table width-0">
          <tbody>
            {% if not actual_messages %}
            <p id="init_message" class="text-center">{% trans "There are no messages today yet." %}</p>
            {% endif %}
            <tr></tr>
            {% for message in actual_messages%}
              <tr>
                <td class="img-row">
                <div class="img-wrapper">
                  {% if message.author %}
                    <img src="{{ MEDIA_URL|add:message.author.avatar.url }}" class="img-raised">
                  {% else %}
                    <img src="{% static 'avatars/basic_dice.png' %}" class="img-raised">
                  {% endif %}
                </div>
              </td>
              {% if message.author %}
                <td><a class="{% if message.author.id|slugify == character_id %}text-primary{% else %}text-danger{% endif %}" href="{% url 'team_members' pk=message.author.id %}">{{message.author.name}}:</a></td>
              {% else %}
                <td><div class="text-muted">{% trans "Dice" %}:</div></td>
              {% endif %}
              <td>{{message.text}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <span class="input-group-btn">
            <select class="selectpicker dropup" data-style="btn btn-warning initial-padding" id="dice-qty-input" title="{% trans "Quantity" %}">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <select class="selectpicker dropup" data-style="btn btn-warning initial-padding" id="dice-type-input" title="{% trans "Type" %}">
              <option value="1">D4</option>
              <option value="2">D6</option>
              <option value="3">D8</option>
              <option value="4">D10</option>
              <option value="5">D12</option>
              <option value="5">D20</option>
              <option value="6">D100</option>
            </select>
            &nbsp;<i class="nc-icon nc-simple-add"></i>&nbsp;
            <select class="selectpicker dropup" data-style="btn btn-warning initial-padding" id="dice-mod-input" title="{% trans "Modifier" %}">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <button type="button" id="dice-roll" class="btn btn-danger">
              {% trans "Throw the Dice" %}
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <div class="form-group">
          <input type="text"  id="chat-message-input" name="text" class="form-control" placeholder="{% trans "Enter the message..." %}">
        </div>
      </div>
      <div class="col-md-3">
        <button type="button" id="chat-message-submit" class="btn btn-primary normalize-margin">{% trans "Send" %}</button>
      </div>
    </div>
  </div>
</div>


<script>
    let characterId = {{ character_id }};

    let chatSocket = new WebSocket(
        '{{ WS_PROTOCOL }}' + window.location.host +
        '/ws/chat/');

    chatSocket.onmessage = function(e) {
        if ($('#init_message').length ) {
          $('#init_message').remove();
        }

        let data = JSON.parse(e.data);

        let message = data['message'];
        let characterName = data['character_name'];
        let href = ''

        let nameColor = 'text-danger';
        let currentCharacterId =  data['character_id'];

        if (currentCharacterId) {
          href = 'href="/profile/members/'+currentCharacterId+'/"';
        }

        if (currentCharacterId && currentCharacterId == characterId) {
          nameColor = 'text-primary';
        }
        else if ( data['dice']) {
          nameColor = 'text-muted';
        }

        $('#log tr:last').after(
          '<tr>' +
            '<td class="img-row">' +
              '<div class="img-wrapper">' +
                '<img src="' + data['avatar_url'] + '" class="img-raised">' +
              '</div>' +
            '</td>' +
            '<td><a class="'+ nameColor + '"' + href + '>' + characterName + ':</a></td>' +
            '<td class="">'+ message +'</td>' +
          '</tr>'
          );
        $("html, body").animate({ scrollTop: $(document).height() }, 0);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        let messageInputDom = document.querySelector('#chat-message-input');
        let message = messageInputDom.value;
        if (message.length) {
          chatSocket.send(JSON.stringify({
            'message': message,
            'character_id': characterId,
        }));

        messageInputDom.value = '';
        
        }
    };

    document.querySelector('#dice-roll').onclick = function(e) {
        let qty = $('#dice-qty-input').find(":selected").text();
        let type = $('#dice-type-input').find(":selected").text();
        let mod = $('#dice-mod-input').find(":selected").text();
        if (type.includes('D')) {
          chatSocket.send(JSON.stringify({
             'character_id': characterId,
             'dice_qty': qty,
             'dice_type': type,
             'dice_mod': mod
         }));
        }
    };

    
</script>
{% endblock %}