.sidebar[data-color="dark-brown"]:after,
.off-canvas-sidebar[data-color="dark-brown"]:after {
  background: #222; }

.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
  overflow: hidden;
}

.card .avatar {
    width: 45px;
    height: 45px;
}

.avatar-filled {
  width: auto !important; 
  height: auto !important; 
}

.border-radius-12 {
  border-radius: 12px !important; 
}

.image-90 {
  height: 90px;
}

.description, .card-description, .footer-big p, .card .footer .stats {
    color: initial;
    font-weight: initial;
}

.card label {
    font-size: initial;
}

textarea.inventory {
  max-height: initial;
}

.initial-padding {
  padding-right: 25px !important; 
}

.table-responsive {
overflow: initial;
  }

.table>tbody>tr>td,
.table>tbody>tr>th {
  border-top: none;
}


.asteriskField {
    display: none;
}

.initial-card-padding {
  padding: initial !important;
}

.card-category {
  margin-bottom: 10px !important;
}

.margin-top-25 {
  margin-top: 25px;
}

.init-max-height {
  max-height: max-content !important;
}

.margin-top-10 {
  margin-top: 10px;
}


.margin-top-0 {
  margin-top: 0px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}

.width-0 {
  width: 0;
}

.normalize-margin {
  margin: initial;
}

.transparent-card {
  background-color: rgba(245, 245, 245, 1);
  opacity: .9;
}

.background-color-0:after {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.padding-top-13vh {
  padding-top: 13vh !important; 
}

.padding-x-0 {
  padding-left: 0px;
  padding-right: 0px; 
}

.font-size-14 {
  font-size: 14px !important;
}