{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div  class="card transparent-card">
<div  class="card-body">
<h4  class="card-title">{% trans "Congrats!" %}</h4>
<p>{% trans "Your password is successfully updated." %}</p>
<form  method="post">
{% csrf_token %}
<input  type="hidden"  name="next"  value="{{ next }}">
{{ form|crispy }}

<button  type="submit"  class="btn btn-danger btn-block">{% trans "Go to login page" %}</button>
</form>
</div>
</div>
</div>
{% endblock %}