{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div  class="card transparent-card">
<div  class="card-body">
<p>{% trans "Check your mailbox for next step" %}</p>
<form  method="post">
{% csrf_token %}
<input  type="hidden"  name="next"  value="{{ next }}">
{{ form|crispy }}

<button  type="submit"  class="btn btn-danger btn-block">{% trans "Ok" %}</button>
</form>
</div>
</div>
</div>
{% endblock %}