{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    D&D Camps
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/paper-dashboard.css' %}" rel="stylesheet" />
  <link href="{% static 'custom/custom.css' %}" rel="stylesheet" />
</head>

<body class="login-page">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container padding-x-0">
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link">
              <i class="nc-icon nc-lock-circle-open"></i> {% trans "Login" %}
            </a>
          </li>
          <li class="nav-item ">
            <a href="{% url 'register' %}" class="nav-link">
              <i class="nc-icon nc-key-25"></i> {% trans "Register" %}
            </a>
          </li>
          <li class="nav-item  active ">
            <a href="{% url 'password_reset' %}" class="nav-link">
              <i class="nc-icon nc-email-85"></i> {% trans "Reset password" %}
            </a>
          </li>
          <li class="nav-item ">
            <a href="{% url 'showcase_player' %}" class="nav-link">
              <i class="nc-icon nc-circle-10"></i> {% trans "Try as Player" %}
            </a>
          </li>
          <li class="nav-item ">
            <a href="{% url 'showcase_dm' %}" class="nav-link">
              <i class="nc-icon nc-globe-2"></i> {% trans "Try as Dungeon Master" %}
            </a>
          </li>
          <li class="nav-item ">
                      <div class="credits ml-auto" id="lang-selector">
            <form action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <input name="next" type="hidden" value="{{ redirect_to }}" />
              <input name="language" type="hidden" />
            </form>
            <div class="row">
              <div class="nav-link font-size-14"><i class="nc-icon nc-globe"></i>Мова/Language:
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang in LANGUAGES %}
              {% get_language_info for lang.0 as lang_info %}

              {% if lang_info.code == LANGUAGE_CODE %}
                {% with 'flags/'|add:request.LANGUAGE_CODE|add:'.png' as image_static %}
                  <a href="#"><img src="{% static image_static %}"></a>
                {% endwith %}
              {% else %}
                <a href="{% url 'set_language' %}" class="setlang" data-code="{{ lang_info.code }}">
                {% with 'flags/'|add:lang_info.code|add:'.png' as image_static %}
                  <img src="{% static image_static %}">
                {% endwith %}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div></div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="full-page section-image background-color-0" data-image="{% static 'img/dnd-camps-background-1080p.jpg' %}">
      <div class="content padding-top-13vh">
      <div class="container margin-top-0">
          
          <div {% if 'register' in request.path %}class="col-md-5 ml-auto" {% else %} class="col-md-4 ml-auto" {% endif %}>
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <div class="container">
            <div class="col-md-2 mr-auto">
              <h4>D&D Camps</h4>
            </div></div>

          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{% static 'js/plugins/bootstrap-switch.js' %}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{% static 'js/plugins/jquery.validate.min.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/paper-dashboard.js' %}" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      $page = $('.full-page');
      image_src = $page.data('image');

      if (image_src !== undefined) {
        image_container = '<div class="full-page-background" style="background-image: url(' + image_src + ') "/>';
        $page.append(image_container);
      }

      $('#lang-selector a').click(function(e) {
        e.preventDefault();

        var $form = $('#lang-selector form');
        var nextLang = $(this).attr('data-code');
        $('input[name="language"]', $form).val(nextLang);
        $form.submit();
      });
    });
  </script>
</body>

</html>