{% extends 'landing/base.html' %}
{% load i18n static %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-stats">
      <div class="card-body">
        <div class="numbers">
          <p class="card-category">That's weird(400)</p>
        </div>
        <p class="text-center">Sorry, this page is the result of bad request.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
